@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

body {
  font-family: inherit;
  font-weight: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-weight: inherit;
}
